body {
    background-color: orange;
}

.outputOnDOM {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #333;
    color: paleturquoise;
    list-style: none;
}

.clearConsole {
    width: 150px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consoleDate{
    color: lightgreen;
}

.consoleMsg {
    color: lightgray
}

